<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="mt-4">Pending Requests</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Video URL</th>
                <th>Video Title</th>
                <th>Channel Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.requestor }}</td>
                <td><a href="{{ request.URL }}" target="_blank">{{ request.URL }}</a></td>
                <td>{{ request.video_name }}</td>
                <td>{{ request.channel_name }}</td>
                <td>
                    <button onclick="processRequest({{ request.id }}, 'approve')" class="btn btn-success">Approve</button>
                    <button onclick="processRequest({{ request.id }}, 'deny')" class="btn btn-danger">Deny</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1 class="mt-4">Request History</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Username</th>
                <th>Video URL</th>
                <th>Video Title</th>
                <th>Channel Name</th>
                <th>Status</th>
                <th>Always Allow</th>
            </tr>
        </thead>
        <tbody>
            {% for request in history_requests %}
            <tr>
                <td>{{ request.date }}</td>
                <td>{{ request.requestor }}</td>
                <td><a href="{{ request.URL }}" target="_blank">{{ request.URL }}</a></td>
                <td>{{ request.video_name }}</td>
                <td>{{ request.channel_name }}</td>
                <td>{{ request.status }}</td>
                <td>
                    <button onclick="confirmAlwaysAllow('{{ request.channel_name }}')" class="btn btn-info">Always Allow</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="pagination">
        <a href="{{ url_for('manage_requests', page=page+1) }}" rel="next">Next Page &raquo;</a>
    </div>


<!-- Link to manage channels in the lower left -->
<div class="lower-left-link">
    <a href="./channels">Manage Allow-listed Channels</a>
</div>
</div>

<script>
    function processRequest(requestId, action) {
    fetch(`/api/process-request/${requestId}/${action}`, { method: 'POST' })
    .then(response => {
        if (!response.ok) {
            throw new Error('Server responded with an error.');
        }
        return response.json();
    })
    .then(data => {
        if(data.status === 'success') {
            alert('Request processed successfully.');
            location.reload();
        } else {
            alert('Failed to process request.');
        }
    })
    .catch(error => {
        console.error('Fetch error:', error);
        alert('An error occurred while processing the request.');
    });
}

    function confirmAlwaysAllow(channelName) {
        if (confirm(`Do you really want to auto-approve all videos from ${channelName}?`)) {
            fetch(`/api/always-allow-channel/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ channelName }) // Pass the channel name in the request body
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success') {
                    alert(`${channelName} has been added to the Always Allow list.`);
                    location.reload();
                } else {
                    alert('Failed to add to Always Allow list.');
                }
            });
        }
    }
</script>

</body>
</html>
